<style>	
	.left {
		float: left;
	}
	.right {
		float: Right;
	}
	h1 {
		background-color: rgb(76,187,23);
		color: white;
		padding: 0px;
	}
	.TableHead {
		background: rgb(76,187,23);
		color: white;
		padding: 0px;
	}
	.indent
	{
		text-indent: 36px;
	}
	
	p {
		margin-bottom: 0;
		margin-top: 0;
	}
	div {
		margin: 0;
		padding: 0;
	}
	h4 {
		margin-bottom: 0;
		margin-top: 0;
	}
	ul {
		margin-bottom: 0;
		margin-top: 0;
	}
	table {
		border-collapse: collapse;
	}
	td {
		vertical-align: top; 
		margin-left: 0;
		text-indent: 6px;
		border:solid rgb(76,187,23);
		padding: 0px;
	}
	li {
		font-style: italic;
	}
	.APA {
		padding-left: 42px;
		text-indent: -36px;
	}
</style>
