<style>	
	.left
	{
		float: left;
	}

	.right
	{
		float: Right;
	}

	h1
	{
		background: rgb(76,187,23);
		color: white;
		padding: 0px;
	}

	.TableHead
	{
		background: green;
		color: white;
		padding: 0px;
	}

	.indent
	{
		text-indent: 36px;
	}
	
	p
	{
		margin-bottom: 0;
		margin-top: 0;
	}

	div
	{
		margin: 0;
		padding: 0;
	}

	h4
	{
		margin-bottom: 0;
		margin-top: 0;
	}

	ul
	{
		margin-bottom: 0;
		margin-top: 0;
	}

	td
	{
		vertical-align: top;
		margin-left: 0;
		padding: 100;
		text-indent: 6px;
	}

	li
	{
		font-style: italic;
	}

	.APA
	{
		padding-left: 42px;
		text-indent: -36px;
	}
</style>
