<style>	
	body {
		border: solid 5px rgb(76,187,23);
		padding: 5px;
	}
		
	.left {
		float: left;
	}
	.right {
		float: Right;
	}
	#Ireland {
		background-image: ("Ireland.jpg");
		background-size: cover;
		text-align: center;
	}
	h1 {
		background-color: rgb(76,187,23);
		color: white;
		padding: 0px;
	}
	.TableHead {
		background: rgb(76,187,23);
		color: white;
		padding: 0px;
	}
	.indent
	{
		text-indent: 36px;
	}
	p {
		margin-bottom: 0;
		margin-top: 0;
	}
	div {
		margin: 0;
		padding: 0;
	}
	h4 {
		margin-bottom: 0;
		margin-top: 0;
	}
	ul {
		margin-bottom: 0;
		margin-top: 0;
	}
	table {
		border: 5px solid rgb(76,187,23);
		border-collapse: collapse;
	}
	td {
		vertical-align: top; 
		margin-left: 0;
		text-indent: 6px;
		border: 1px solid rgb(76,187,23);
		padding: 0px;
	}
	li {
		font-style: italic;
	}
	.APA {
		padding-left: 42px;
		text-indent: -36px;
	}
</style>
